{% extends "layouts/default.html" %}

{% block content %}

<button class="btn" onclick="my_modal_1.showModal()">open modal</button>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">
      <input type="text" class="input" value="{{ article.title }}">
      <textarea class="textarea">{{ article.content }}</textarea>
    </p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>



<div class="flex gap-2 items-center">
  <a href="{% url 'articles:edit' article.id %}" class="btn btn-xs btn-success">編輯</a>
  <form action="{% url 'articles:detail' article.id %}" method="post">
    <input type="hidden" name="_method" value="delete" />
    {% csrf_token %}
    <button class="btn btn-xs btn-error">刪除</form>
  </form>
</div>

<h1 class="text-3xl">Hello, {{ article.title }}</h1>
<article>
  {{ article.content|linebreaks }}
</article>
{% endblock %}
